html
    scroll-snap-type: y mandatory
    scroll-behavior: smooth
    scrollbar-width: inherit
*
    padding: 0
    margin:0
    box-sizing: border-box
    font-family: Open Sans
    font-weight: bold

section
    height: 100vh
    scroll-snap-align: center
body
    background-color: #0c0c1d
    color: #ffffff

